# Python cache and compiled files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
CommentToxicity/venv/
CommentToxicity/lib/

# macOS system files
.DS_Store

# VS Code or PyCharm settings (optional but common)
.vscode/
.idea/

# Model files (optional, if model files are large or not needed in repo)
*.h5
*.keras

# Ignore large binary files
*.dylib
*.so

# Dataset file (optional to ignore in repo)
Toxicity/train.csv
